#logo {
  position: absolute;
  top: 0;
  left: 0; }

input {
  width: 50%;
  margin: auto; }

.container {
  text-align: center;
  margin-top: 20px; }

#score-board {
  text-align: left; }

#gameBoard {
  width: 100%; }
  #gameBoard .categories-and-questions {
    display: flex;
    flex-wrap: wrap; }
    #gameBoard .categories-and-questions .category {
      min-width: 30%;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: flex;
      flex-flow: column; }
      #gameBoard .categories-and-questions .category .question {
        background-color: #36798D;
        color: white;
        width: 30%;
        border-radius: 50%;
        margin: auto;
        margin-top: 1rem;
        cursor: pointer; }

#score-board {
  text-align: left; }
  #score-board ul {
    list-style: none; }

.selected-question {
  width: 100%;
  height: 50vh;
  background-color: #36798D;
  display: flex;
  border-radius: 50%;
  border-style: solid;
  border-color: #326370; }
  .selected-question h4 {
    width: 90%;
    margin: auto;
    color: #f2f2f2; }

.team-sign-in form {
  margin-top: 4rem; }
  .team-sign-in form input {
    text-align: center;
    margin-bottom: 2rem; }
